/* Dumb Terminal lib from HiEv
 * See https://intfiction.org/t/hange-the-font-in-twine/53793
 *
 * WITH MY MODIFICATIONS */

@font-face {
  /* Font source: http://sensi.org/~svo/glasstty/ */
  font-family: Glass;
  src: url("./assets/Glass_TTY_VT220.ttf");
  font-weight: normal;
  font-style: normal;
}

.nbspfont {
  font-family: monospace;
}

.passage, input {
  color: #4effff;
  font-family: Glass, monospace;
  font-size: 36px;
  line-height: 1.25;
}

.passage {
  text-shadow: 0px 0px 36px #00FFFF;
}

.passage a, .passage a:hover, .passage a:active {
  color: #4effff;
  text-shadow: 0px 0px 36px #00FFFF;
  text-decoration: none;
}

.terminal {
  overflow: auto;
}

.credit-count {
  color: #FFFD82;
  text-shadow: 0px 0px 36px #FFFF00;
}

.negative-credits {
  color: #FF0000;
  text-shadow: 0px 0px 36px #FF0000;
}

input {
  text-transform: uppercase;
}
